.blog-list-item{
    border-bottom: solid $black 1px;
    
    button{

        &.delete{
            background-color: red;
        }
        &.edit{
            background-color: yellow;
        }
    }
}