.blog-list{
    margin-bottom: 100px;

    .header{
        border-bottom: 1px solid $black;
        padding-bottom: 15px;
    }
    .article{
        padding: 15px 0;
        border-bottom: 2px solid $light-gray;
    }
    p{
        margin-bottom: 0;
    }
    .center{
        text-align: center;
    }
}