.button{
    background-color: $brand-red;
    border-radius: 0;
    border: none;
    color: $white;
    margin-right: 17px;
    padding: 10px 45px;

    &:hover{
        background-color: darken($brand-red,15%);
        color: $white;
        text-decoration: none;
    }
}