.contact-form{
    margin-bottom: 80px;

    textarea{
        margin-bottom: 40px;
    }

    .social{
        padding: 0 10px;
    }

    .image-block{
        text-align: center;
        
        @include tablet {
            transform: translateY(-200px);
        }
        
        .image{
            display: inline-block;
            margin-bottom: 50px;
            max-width: 280px;
        }
    }
}