.hero{
    background-color: $text-gray;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin-top: 55px;
    margin-bottom: 80px;
    min-height: 500px;
    position: relative;

    .content{
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
    }

    h1{
        color: $brand-yellow;
        font: $venetian;
        font-size: 3.6rem;
        line-height: 3.9rem;
        text-shadow: 0 4px 4px $black;
        letter-spacing: 2px;
    }

    p{
        color: $white;
        font: $myriad-normal;
        font-size: 1.8rem;
        letter-spacing: 0.7px;
        line-height: 2.6rem;
        text-shadow: 0 4px 4px $black;
    }
}

