.services-menu{
    text-align: center;
    margin-bottom: 80px;

    .icons{
        margin-bottom: 15px;    
    }
    .icon{
        &:hover, &.selected{

            p{
                background-color: $brand-red;
                color: $white;
                transform: rotate(-3deg);
            }
        }
        
        
        p{
            display: inline-block;
            padding: 5px 10px;
        }
    }
    .img-container{
        height: 115px;
    }

    img{
        &.photo-vocha{
            margin-top: 20px;
            width: 130px;
        }
        &.mirror-booth{
            width: 70px;
        }
        &.open-air{
            width: 50px;
        }
        &.vintage-photo-booth{
            width: 70px;
        }
    }
}