.two-columns{
    margin-bottom: 80px;

    ul{
        padding-left: 17px;
        -webkit-padding-start: 17px;
        list-style: disc;

        li{
            margin-bottom: 20px;
        }
    }

    .second{
        margin-top: 45px;
    }
}