.us{
    margin-bottom: 80px;

    ul{
        padding-left: 0px;
        -webkit-padding-start: 0;
    }

    .image-block{
        text-align: center;

        img{
            display: inline-block;
            max-width: 280px;
            transform: translateY(-200px);
        }
    }
}